@media (max-width: 800px) {
    nav {
        display: flex;
    }

    .menu-toggle {
        position: absolute;
        right: 20px;
        padding: 8px;
        display: flex;
        border-radius: 4px;
        border: 1px solid var(--border);
    }

    .menu-toggle svg {
        display: flex;
        color: var(--color-text);
    }

    .menu-toggle:hover {
        background-color: var(--bg-hover);
    }

    .nav-links,
    .btn-logins-content {
        display: none;
    }   

    .slogan {
        display: flex; flex-wrap: wrap;
        flex-direction: column;
    }

    .slogan h1 {
        font-size: 2rem;
    }

    .slogan p {
        display: none;
        font-size: 1.2rem;
    }

    .about-content {
        display: flex;
        align-items: center; justify-content: center;
        text-align: center;
    }

    .about-content img {
        display: none;
    }
}