@media (max-width: 800px) {

    /*? Navbar START */
    nav {
        display: flex;
    }

    nav .menu-toggle {
        position: absolute;
        right: 12px;
        padding: 8px;
        display: block;
        border-radius: 4px;
        z-index: 1;
        border: 1px solid var(--border);
    }

    nav .menu-toggle svg {
        display: flex;
        color: var(--color-text);
    }

    nav .menu-toggle:hover {
        background-color: var(--bg-hover);
    }

    .navbar-mobile-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        transition: var(--transition);
        transform: translate(500px);
        background-color: var(--bg-second);
    }

    .navbar-mobile-container.active {
        transform: translate(0);
    }

    .navbar-mobile-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .navbar-links {
        height: 350px;
        justify-content: space-between;
    }

    .navbar-links {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    /* .nav-links,
    .btn-logins-content {
        display: none;
    }    */

    .slogan h1 {
        font-size: 2rem;
    }

    .slogan p {
        /* display: none; */
        font-size: 1.2rem;
    }

    /*? Navbar END */

    /*? Universal START  */

    body {
        padding: 0;
    }

    .main-content {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    /*? Universal END  */


    /*? Sect About us START  */
    .about-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .team-photo {
        width: 100%;
    }
    /*? Sect About us END  */


    /*? Sect Reviesw  */
    .reviews-content {
        gap: 12px;
    }
    /*? Sect Reviesw  */


    /*? Sect Newsletter START  */
    /* .newsletter-form {
        flex-direction: column;
    } */
    /*? Sect Newsletter END  */


    /*? Page Form-Register/login START  */
    .form-container {
        margin: 0 14px;
    }

    .form-content {
        display: flex; flex-direction: column;
        height: max-content;
        grid-template-columns: repeat(1, 1fr);
        /* width: 375px; */
    }

    .form-content form {
        width: 100%;
    }

    .form-header {
        text-align: center;
    }

    /* .form-content form {
        padding: 18px;
    } */
    /*? Page Form-Register/login END  */

    /*? Sect Categories START  */
    .categories {
        max-width: 240px;
    }
    /*? Sect Categories END  */


    /*? Footer START  */
    .quick-links,
    .services,
    .contacts {
        width: 100%;
    }

    .social-networks {
        margin-bottom: 12px;
    }
    /*? Footer END  */
}


@media (max-width: 1865px) {
    .about-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 36px;
    }
}