@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main:#f5f5f5;
    --bg-second:#ffffff;
    --bg-light: #f0f0f0;
    --bg-hover:#f7f7f7;
    --border:#e6e6e6;
    --bg-button:#282828;
    --light-red-color: #ff5757;

    --color-text:#28282b;
    --color-text-hover:#424242;

    --transition: all 0.3s ease;
}

/*? ========== UNIVERSAL START ========== */
body {
    font-family: "EB Garamond", serif;
    padding: 8px;
    background-color: var(--bg-main);
}

main {
    position: relative;
    display: flex;
    align-items: center; justify-content: center;
}

main .slogan {
    position: absolute;
    top: 50%; left: 50%;
    width: max-content;
    font-size: 4rem;
    color: var(--color-text);
    text-align: center;
    transform: translate(-50%, -50%);
}

.slogan p {
    font-size: 2rem;
    font-weight: 500;
}

.main-content {
    display: flex;
    align-items: center; justify-content: center;
    /* margin: 15px; */
    /* height: 50rem; */
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--border);
}

.main-content img {
    width: 100%;
    filter: brightness(0.7);
}

section:nth-child(even) {
    background-color: var(--bg-second);
}

section {
    margin-top: 12px;
    border-radius: 8px;
}

section h2 {
    margin: 12px;
}

.sect-presentation {
    display: flex;
    align-items: center; justify-content: center;
    width: 100%;
    color: var(--color-text);
}

.sect-presentation img {
    width: 4rem; height: 1.2rem;
}
/*? ========== UNIVERSAL END ========== */


/*? ========== NAVBAR START ========== */
nav {
    position: fixed;
    z-index: 1;
    top: 0; left: 0;
    width: 100%;
    /*TODO: margin: 0 8px; */
    /*TODO: border-radius: 8px; */
    padding: 0 18px;
    border: 1px solid var(--border);
    background-color: var(--bg-second);
}

nav svg {
    display: none;
}

.nav-content {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo img {
    width: 85px;
}

.nav-links ul {
    display: flex;
    gap: 18px;
    font-weight: 500;
    list-style: none;
}

.nav-links ul a {
    font-size: 18px;
    text-decoration: none;
    color: var(--color-text);
}

.nav-links ul a:hover {
    color: var(--color-text-hover);
}

.btn-sign-in,
.btn-sign-up {
    font-weight: 600;
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 4px;
    transition: var(--transition);
    border: 1px solid var(--border);
    background-color: var(--bg-light);
}

.btn-sign-in {
    background: none;
}

.btn-sign-in:hover, 
.btn-sign-up:hover {
    background-color: var(--bg-hover);
}
/*? ========== NAVBAR END ========== */


/*? ========== SECTION PRODUCTS START ========== */
.sect.parfum-container {
    display: flex;
}

.parfum-card-container {
    display: flex; flex-wrap: wrap;
    gap: 8px;
}

.card-content {
    position: relative;
    display: flex;
    flex-grow: 1;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--border);
}

.card-content img {
    width: 100%;
    cursor: pointer;
    transition: var(--transition);
    /* object-fit: conta; */
}

.card-content img:hover {
    filter: brightness(0.6);
    transform: scale(1.1);
}

.card-content svg {
    position: absolute;
    right: 0;
    margin: 8px;
    cursor: pointer;
    color: var(--border);
    transition: var(--transition);
}

.card-content svg:hover {
    transform: scale(0.9);
    color: var(--light-red-color);
}
/*? ========== SECTION PRODUCTS END ========== */


/*? ========== SECTION ABOUT START ========== */
.team-photo {
    width: 800px;
}

.team-photo img {
    display: flex;
    width: 100%;
    border-radius: 8px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}       
/*? ========== SECTION ABOUT END ========== */


/*? ========== SECTION FEATURED START ========== */
.featured-content {
    display: flex; flex-wrap: wrap;
    gap: 8px;
}

.featured-card {
    flex-grow: 1;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--border);
}

.featured-image img {
    display: flex;
    width: 100%;
}

.featured-info {
    padding: 14px;
    background-color: var(--bg-second);
}
/*? ========== SECTION FEATURED END ========== */




/*? ========== START ========== */
/*? ========== END ========== */





