
main .slogan {
    position: absolute;
    top: 50%; left: 50%;
    width: 100%;
    font-size: clamp(1.1rem, 1.2vw, 3.5rem);
    color: var(--bg-second);
    text-align: center;
    transform: translate(-50%, -50%);
}

.slogan p {
    font-size: 2rem;
    font-weight: 500;
}

.main-content {
    display: flex;
    align-items: center; justify-content: center;
    /* margin: 15px; */
    /* height: 50rem; */
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--border);
}

.main-content img {
    width: 100%;
    filter: brightness(0.6);
}